{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        Hotel Search | GoAnywhere
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        a {
            text-decoration: none;
        }
        table, th, td {
            border: 1px solid;
            text-align: center;
          }
          table {
            width: 100%;
          }
          
          th {
            height: 70px;
          }
    </style>
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<section>
    <div class="container-fluid py-5 px-5 ">
       
        <form action="" method="POST">
            {% csrf_token %}
            <h1 style="text-align: center;">Hotel Search</h1>
            <div class="row justify-content-center py-5 bg-light">
                <div class="col-lg-4">
                    <label for="">Location</label>
                    <select class="form-control" name="search_location" id="roomstatus">

                        <option>Location</option>
                        {% for each_location,each_hotel_id in all_location %}

                        <option value={{each_hotel_id}}>{{each_location}}</option>
                        {% endfor %}

                    </select>
                </div>

                <div class="col-lg-2">
                    <label for="">Check in</label>

                    <input class="form-control mr-sm-2" type="date" placeholder="Check in" name="cin" min={{min_date}}
                        max={{max_date}} aria-label="Search" required="True">
                </div>
                <br>

                <div class="col-lg-2">
                    <label for="">Check Out</label>
                    <input class="form-control mr-sm-2" type="date" placeholder="Check out" name="cout" min={{min_date}}
                        max={{max_date}} aria-label="Search" required="True">
                </div>
                <div class="col-lg-2">
                    <label for="">Person</label>
                    <input class="form-control mr-sm-2" type="number" placeholder="Person" name="capacity"
                        aria-label="Search" required="True">
                </div>
                <div class="col-lg-2">

                    <input type="submit" value="Check Availabilty" class="form-control mr-sm-2 btn btn-primary my-4"
                        style="position: relative;top: 7px;">
                </div>
                {% if rooms %}
                <p class="text-center text-success">Rooms Available</p>
                {% endif %}
            </div>
        </form>

    </div>
</section>
<div class="container">
    <div class="container-fluid px-0 mx-aut">
    {% if rooms %}
   
    <table>
         <h1 style="text-align:center ;">Hotel Details</h1>
        <thead class="o">
            <tr>
            <th>Type</th>
            <th>Location</th>
            <th>Person</th>
            <th>Price(৳)</th>
            <th>Action</th>
            </tr>
            
        </thead>
        {% for r in rooms %}
        <tr class="">
            <td>{{ r.get_room_type_display }}</td>
            <td>{{ r.hotel.location }}</td>
            <td>{{ r.capacity }}</td>
            <td>{{ r.price }}</td>
            <td><a href="/user/book-room?roomid={{r.id}}"><button class="btn btn-warning">Book Now</button></a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
</div>
</body>
</html>