{% load static %}
{% static "images" as baseUrl %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <title>GoAnywhere</title>
</head>
<body>
    <div class="nav1">
        <div class="part1">
            <div class="email">
                <ul>
                    <li>
                        <a href="mailto:fahimbhuiyan05@gmail.com" itemprop="email"><i class="fas fa-envelope"></i>
                            fahimbhuiyan05@gmail.com</a>
                    </li>
                    <li style="padding-left: 5px;">
                        <a href="tel:+8801517328176" itemprop="telephone"><i class="fas fa-phone"></i>
                            +8801517328176</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="part2">
            <ul>
                <li><a href=""><i class="fab fa-viber"></i></a></li>
                <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-skype"></i></a></li>
            </ul>
        </div>
        <div class="part3">
          {% if user.is_authenticated %}
          <i class="fas fa-user" style="color:white"></i><a href='profile'> {{user.name  |upper}} </a>  &nbsp;
          <i class="fas fa-sign-out-alt" style="color:white"></i><a href="logout">LOGOUT</a>
          {%else%}
          <i class="fas fa-sign-in-alt" style="color:white"></i><a href="login"> Login</a>&nbsp;
          <i class="fas fa-user-plus"style="color:white"></i><a href="register"> Register</a>
          {%endif%}
        </div>
    </div>

    <div class="nav2">
        <div class="title">
            <a href="home"> GoAnywhere</a>
        </div>
        <div class="link">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="index">Flight</a></li>
                <li><a href="hotel">Hotel</a></li>
                <li><a href="aboutus">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </div>
    </div>


    <div class="banner">
        <div id="" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/page-banner.jpg'%}" alt="Los Angeles" class="d-block w-100">
                    <div class="carousel-caption titletext">
                        <h1>WELCOME TO GOANYWHERE </h1>
                        <p>With our advance search feature you can now find the trips for you...</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/page-banner.jpg'%}" alt="Chicago" class="d-block w-100">
                    <div class="carousel-caption titletext">
                        <h1>WELCOME TO GOANYWHERE </h1>
                        <p>With our advance search feature you can now find the trips for you...</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/page-banner.jpg'%}" alt="New York" class="d-block w-100">
                    <div class="carousel-caption titletext">
                        <h1>WELCOME TO GOANYWHERE </h1>
                        <p>With our advance search feature you can now find the trips for you...</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>

    <div>
        <div class="item">
            <h1>Our Services</h1>
        </div>
        <div class="box">
            <div class="flight">
                <a href="index">
                    <div class="card card_item p-4" style="width:400px">
                        <img class="card-img-top" src="{% static 'plane.png'%}" alt="Card image" style="width:100%">
                        <h4 class="title_card">Flight</h4>
                    </div>
                </a>
            </div>
            <div class="hotel">
                <a href="hotel">
                    <div class="card card_item p-4" style="width:400px">
                        <img class="card-img-top" src="{% static 'hotel.jpg'%}" alt="Card image" style="width:100%;">
                        <h4 class="title_card">Hotel</h4>
                </a>
            </div>
        </div>
    </div>


    <div class="image pt-3 ">
        <img src="{% static 'home2.jpg'%}" alt="" style="width:100%; height: 300px;">
    </div>
    <!-- Gallery -->
    <div class="gallery m-5">
    <div class="title_gallery p-3">
        <h3>Gallery</h3>
    </div>
    <div class="gallery-images-section">
        <div class="gallery-img-wrap">
            <img src="{% static 'img/gallery-img1.jpg'%}" alt="gallery-images">
        </div>
        <div class="gallery-img-wrap">
            <img src="{% static 'img/gallery-img2.jpg'%}" alt="gallery-images">
        </div>
        <div class="gallery-img-wrap">
            <img src="{% static 'img/gallery-img3.jpg'%}" alt="gallery-images">
        </div>
        <div class="gallery-img-wrap">
            <img src="{% static 'img/gallery-img4.jpg'%}" alt="gallery-images">
        </div>
        <div class="gallery-img-wrap">
            <img src="{% static 'img/gallery-img5.jpg'%}" alt="gallery-images">
        </div>
        <div class="gallery-img-wrap">
            <img src="{% static 'img/gallery-img6.jpg'%}" alt="gallery-images">
        </div>
        <div class="gallery-img-wrap">
            <img src="{% static 'img/gallery-img7.jpg'%}" alt="gallery-images">
        </div>
        <div class="gallery-img-wrap">
            <img src="{% static 'img/gallery-img8.jpg'%}" alt="gallery-images">
        </div>
        <div class="gallery-img-wrap">
            <img src="{% static 'img/gallery-img9.jpg'%}" alt="gallery-images">
        </div>
        <div class="gallery-img-wrap">
            <img src="{% static 'img/gallery-img10.jpg'%}" alt="gallery-images">
        </div>
        <div class="gallery-img-wrap">
            <img src="{% static 'img/gallery-img11.jpg'%}" alt="gallery-images">
        </div>
        <div class="gallery-img-wrap">
            <img src="{% static 'img/gallery-img12.jpg'%}" alt="gallery-images">
        </div>
    </div>
    </div>
    <!-- Gallery -->


    <!-- favorite destination -->
    <div class="favorite_destination">
        <div class="title_gallery p-3">
        <h3>favorite destination</h3>
        </div>
    </div>
    <!-- favorite destination -->

    <!-- footer -->
    <div class="quary">
        <div class="text_part">
            Any Queries? Ask us a question at 
            <a href="tel:+8801517328176" itemprop="telephone"><i class="fas fa-phone"></i> +8801517328176 </a>
        </div>
    </div>
    <div class="footer">
        <div class="about">
            About
            <hr class="about_hr">
            <p><samp class="title">GoAnywhere</samp> is a Online Travel Agency. </p>
            <hr class="normal_hr">
            <a href="tel:+8801517328176" itemprop="telephone"><i class="fas fa-phone"></i>
                +8801517328176</a>
            <hr class="normal_hr">
            <a href="mailto:fahimbhuiyan05@gmail.com" itemprop="email"><i class="fas fa-envelope"></i>
                fahimbhuiyan05@gmail.com</a>
                <hr class="normal_hr">
                <i class="fas fa-map-marker-alt"></i> Dhaka, Bangladesh
        </div>
        <div class="link_im">
            Importent Link
            <hr class="link_hr">
            <ul type="square">
                <li><a href="home">Home</a></li>
                <li><a href="index">Flight</a></li>
                <li><a href="hotel">Hotel</a></li>
                <li><a href="flight/bookings">My Booking</a></li>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="privacy-policy">Privacy Policy</a></li>
                <li><a href="terms-and-conditions">Terms & Conditions</a></li>
                <li><a href="contuct">Contuct Us</a></li>
            </ul>
        </div>
        <div class="contuct_us">
            Contuct Us 
            <hr class="about_hr">
            <div>
                <div class="contact-form-wrapper d-flex">
                  <form action="contact" class="contact-form" method="POST">
                    {% csrf_token %}
                    <div>
                      <input type="text" class="form-control rounded border-white mb-3 form-input" name="name" id="name"
                        placeholder="Name" required>
                    </div>
                    <div>
                      <input type="email" class="form-control rounded border-white mb-3 form-input" name="email" placeholder="Email"
                        required>
                    </div>
                    <div>
                      <textarea id="message" class="form-control rounded border-white mb-3 form-text-area" name="message" rows="5"
                        cols="30" placeholder="Message" required></textarea>
                    </div>
                    <div class="submit-button-wrapper">
                      <input class="form-control rounded border-white mb-3 form-input" type="submit" value="Send">
                    </div>
                  </form>
                </div>
              </div>
        </div>
    </div>

    <div class="copyright" style="text-align: center; padding:5px;">
      <p style="margin: 10px 0; font-size: .8em;">&#169; {{current_year}} GoAnywhere. All rights reserved.</p>
    </div>
    <!-- footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>

</html>