<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failed</title>
    <style>
        a{
            text-decoration: none;
            color: #000;
            border: solid 0px black;
            margin: 5px;
            padding: 10px;
            background-color: #CCC8C8;
        }
    </style>
</head>
<body>
    <h1 style="color: red;">
        Email or Password is not valid
    </h1>
    <a href="{% url 'login' %}">Login</a>
</body>
</html>