{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.typekit.net/cav5lva.css">
  <link rel="stylesheet" href="{% static 'css/layout_style.css' %}">
  <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/layout.js' %}"></script>
    <title>Terms and Conditions | Flight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <style>
        h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    font-size: 40px;
}
    </style>
</head>
<body>
    <section class="privacybanner-section">
        <img src="{% static 'img/about-us.png' %}" alt="Privacy Policy" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <h1>We manage your trip, so you can live the destination.</h1>
            <p>Back in the 90s, booking a ticket meant going all the way to the airport and standing in long airport queues waiting for your turn. Then came the internet, and everything changed. People could book their tickets online. Despite ongoing restrictions, travel has become more affordable than ever before. 2018 saw approximately 2 billion trips by Indian travellers.</p>
            <p>However, the travel experience has remained largely unchanged - travel is still chaotic and uncertain. People still have bad trips.</p>
            <p>We discovered that this is largely due to information asymmetry. Travellers generally have to work hard to find information that concerns their trip. Travel is very information rich, but the information resides with different stakeholders and often doesn't reach the traveller in time - thus resulting in frustration, anger, and unpleasantness.</p>
            <p>Today, we make bookings without a clear idea of what our trip is going to be like - what time we’ll leave home, what time we’ll reach our destination, and how comfortable we’ll be while we get this trip. On the day of the trip, we still frantically search for a cab, get nervous when we encounter traffic, and run to the boarding gate to get there on-time.</p>
            <p>We felt that there's got to be a better way. So, we built Blinctrip - your personal travel assistant that watches your trip experience and mindfully delivers the right information to you at the right time. That means no more running.</p>
            <p>Our goal is to help you have a great trip each time. We’re going for it.</p>
        </div>
    </section>
</body>
</html>